---
layout: default
title: Welcome to my portfolio
description: Welcome to my portfolio. Data Scientist | Mathematician | Motorcycle Enthusiast
featured_image: /images/demo/home.jpg
beer_image: /images/demo/BeerBottles.jpg
beer_description: Using convolutional neural networks and a feature based recommender system, I create an application that recognizes beers via images of their labels and reccomends beers with similar features. 
disaster_image: /images/demo/hirrucaneimage.jpg
disaster_description: Using a dataset of over 6 million geotagged and timestamped tweets from the landfall of Hurricane Sandy, we built out a model to help identify potentially critical tweets for emergency personnel, and experimented with live-mapping and Twython streaming as avenues for implementation.
uplifting_image: /images/demo/goodnews.jpg
uplifting_description: By retreiving and analyzing news titles from the subreddits r/news and r/upliftingnews, I use natural language procesing to examine which words are more/less correlated with news that is considered 'uplifting'.  
housing_image: /images/demo/ameshouse.jpg
housing_description: Competed in a Kaggle competition focused on predicting house prices using linear regression on house features.

<section class="hero">

	<div class="hero__image" style="background-image: url({{ page.featured_image }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>Welcome to my portfolio</h1>
		<p>Data Scientist | Mathematician | Motorcycle Enthusiast.</p>

		{% include socials.html %}

	</div>

</section>

<section class="listing">

	<div class="wrap">

		{% for project in site.projects reversed %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ page.beer_image }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="https://github.com/javimtza/DSI-Capstone">Beer Label Recognizer and Recommender</a></h2>
					<p class="post__subtitle">General Assembly Capstone</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>
		
		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ page.disaster_image }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="https://github.com/javimtza/disaster-tweet-classification">Disaster Tweet Classification</a></h2>
					<p class="post__subtitle">General Assembly Client Project</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>
		
		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ page.uplifting_image }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="https://github.com/javimtza/reddit-nlp-project">Classifying News Titles Using NLP</a></h2>
					<p class="post__subtitle">General Assembly Project</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>
		
		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ page.housing_image }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="https://github.com/javimtza/ames-housing-project">Predicting House Prices in Ames, Iowa</a></h2>
					<p class="post__subtitle">General Assembly Project</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>
		
		{% endfor %}

	</div>
	
</section>
