---
layout: default
title: Welcome to my portfolio
description: Welcome to my portfolio. Data Scientist | Mathematician | Motorcycle Enthusiast
featured_image: /images/demo/home.jpg
---

<section class="hero">

	<div class="hero__image" style="background-image: url({{ page.featured_image }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>Welcome to my portfolio</h1>
		<p>Data Scientist | Mathematician | Motorcycle Enthusiast.</p>

		{% include socials.html %}

	</div>

</section>

<section class="listing">

	<div class="wrap">

		{% for project in site.projects reversed %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.featured_image }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{https://github.com/javimtza/DSI-Capstone}}">Beer Label Recognizer and Recommender</a></h2>
					<p class="post__subtitle">General Assembly Capstone</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>
		
				<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.featured_image }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{https://github.com/javimtza/DSI-Capstone}}">Beer Label Recognizer and Recommender</a></h2>
					<p class="post__subtitle">General Assembly Capstone</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>
		
		{% endfor %}

	</div>
	
</section>
